/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header style */
header {
  display: flex;
  align-items: center;
  padding: 3vw;
  background: linear-gradient(
    170deg,
    hsl(190, 55%, 40%) 70%,
    hsl(0, 0%, 100%) 70%
  );
}

.profile {
  position: relative;
  max-width: 550px;
}

.profile img {
  width: 100%;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.2);
}

.profile p {
  position: absolute;
  color: white;
  font-size: max(50px, 5vw);
  top: 80%;
  transform: translateX(15%);
}

.about-me {
  flex: 1;
  padding: 30px;
  background-color: white;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.about-me h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-me p {
  line-height: 30px;
  font-size: 28px;
  margin-bottom: 70px;
}

.social {
  text-align: end;
}

.social img {
  width: 32px;
  padding-left: 16px;
}

@media (width <= 1050px) {
  header {
    display: block;
    background: linear-gradient(
      170deg,
      hsl(190, 55%, 40%) 60%,
      hsl(0, 0%, 100%) 60%
    );
  }

  .profile {
    float: left;
    flex: none;
    margin-right: 40px;
  }

  .profile p {
    top: 10px;
    transform: translateX(100%);
  }

  .about-me {
    margin-top: 70px;
    margin-left: 70px;
  }
}

@media (width <= 700px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      170deg,
      hsl(190, 55%, 40%) 30%,
      hsl(0, 0%, 100%) 30%
    );
  }

  .profile {
    margin: 0 auto;
  }

  .profile p {
    top: 80%;
    transform: translateX(15%);
  }

  .profile img {
    box-shadow: none;
  }

  .about-me {
    margin: 0;
    box-shadow: none;
  }
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .social img {
    padding: 0;
  }
}

@media (width <= 440px) {
  header {
    background: linear-gradient(
      170deg,
      hsl(190, 55%, 40%) 20%,
      hsl(0, 0%, 100%) 20%
    );
  }
  .profile p {
    right: 50%;
    top: 65%;
    transform: translateX(10%);
  }

  .about-me p {
    text-align: center;
  }
}

main {
  padding: 3vw;
}

main h1 {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  border-radius: 10px;
  padding: 16px;
  box-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.2);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}

.card p {
  margin-top: 10px;
  margin-bottom: 32px;
  color: hsl(0, 0%, 40%);
}
